<div class="header">
   <h1>Tamela Lerma</h1>
    <h3>Junior Software Developer</h3>
</div>

<div>


</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-lg-2 nav-background-color">
        <nav class="navbar-fixed-side flex-nav">
           <a href="#!/ContactMe"><img class="nav-icons" src="../images/alien.png">
           <p>Contact</p></a>
           <a href="#!/Projects"><img class="nav-icons" src="../images/unicorn.png">
           <p>Projects</p></a>
           <a href="#!/About"><img class="darth-icons" src="../images/Darth-Vader.png">
           <p>About</p></a>
        <!-- normal collapsible navbar markup -->
        </nav>
    </div>
    <div class="col-sm-9 col-lg-10 main-content-div">
     <p>Sweet Bio Goes here</p>
      <!-- your page content -->
    </div>
  </div>
</div>
