<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-4 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-white w3-wide">Technologies</span>
  </div>
</div>

<!-- Container (Services Section) -->
<div id="technologies" class="container-fluid text-center">
  <h2>Tech Stack</h2>
  <br>
  <div class="row slideanim">
    <div class="col-sm-2">
      <img src="images/logos/angular-logo.png">
    </div>
    <div class="col-sm-2">
        <img src="images/logos/Bootstrap_logo.png">
    </div>
    <div class="col-sm-2">
        <img src="images/logos/Brackets_logo.png">
    </div>
    <div class="col-sm-2">
        <img src="images/logos/browserify_logo.png">
    </div>
    <div class="col-sm-2">
        <img src="images/logos/csharp_logo.svg">
    </div>
    <div class="col-sm-2">
        <img src="images/logos/css3-logo.png">
    </div>
  </div>
  <br><br>
  <div class="row slideanim">
    <div class="col-sm-2">
        <img src="images/logos/firebase_logo.png">
    </div>
    <div class="col-sm-2">
        <img src="images/logos/git_logo.png">
    </div>
    <div class="col-sm-2">
        <img src="images/logos/grunt_logo.png">
    </div>
    <div class="col-sm-2">
        <img src="images/logos/handlebars-logo.png">
    </div>
    <div class="col-sm-2">
        <img src="images/logos/jquery_logo.png">
    </div>
    <div class="col-sm-2">
        <img src="images/logos/logo_aspmvc.png">
    </div>
  </div>
  <br><br>
    <div class="row slideanim">
    <div class="col-sm-2">
        <img src="images/logos/materialize-logo.png">
    </div>
    <div class="col-sm-2">
        <img src="images/logos/Npm-logo.png">
    </div>
    <div class="col-sm-2">
        <img src="images/logos/Sass_Logo.png">
    </div>
    <div class="col-sm-2">
        <img src="images/logos/vscode_logo.png">
    </div>
    <div class="col-sm-2">
        <img src="images/logos/SQLite_logo.png">
    </div>
    <div class="col-sm-2">
        <img src="images/logos/webpack_logo.png">
    </div>
    <div class="col-sm-2">
    </div>
  </div>
  <br><br>
    <div class="row slideanim">
        <div class="col-sm-2">
            <img src="images/logos/daftpunktocat-github_logo.gif">
        </div>
        <div class="col-sm-2">
            <img src="images/logos/logo_javascript.png">
        </div>
    </div>
</div>
<div ng-include="'partials/contact.html'"></div>
